@page
@model ImmuneAndReadyToHelp.Pages.OpportunityModel
@{
    ViewData["Title"] = "Create Opportunity";
}

<partial name="_ValidationScriptsPartial" />


@section Head{
    <link rel="icon" type="image/png" href="~/images/Antibody.png" />
    <link rel="stylesheet" type="text/css" href="~/css/map-form.css" asp-append-version="true" />
}

<div class="container-contact100">
    <div class="contact100-map" id="google_map" longitude="@Model.AustinDefaultLocation.Longitude" latitude="@Model.AustinDefaultLocation.Latitude" data-pin="images/icons/map-marker.png" data-scrollwhell="0" data-draggable="1"></div>

    <div class="wrap-contact100">
        <form class="contact100-form validate-form" method="post" enctype="multipart/form-data">

            <h3>
                Tell Us About Your Organization
            </h3>

            <fieldset>
                <div class="opp-info">
                    <div><label>Opportunity Contact Email*</label></div>
                    <div><input type="email" asp-for="EmailOfOpportunityContact" /></div><span asp-validation-for="EmailOfOpportunityContact" class="text-danger"></span>
                    <div><label>300x300 Organizational Logo*</label><input type="file" asp-for="LogoToDisplay" /></div><span asp-validation-for="LogoToDisplay" class="text-danger"></span>
                    <div><label>Full Organization Address*</label></div>
                    <div><textarea rows="2" asp-for="FullAddressOfOpportunity"></textarea></div><span asp-validation-for="FullAddressOfOpportunity" class="text-danger"></span>
                </div>
            </fieldset>

            <h3>
                Tell Us About Your Opportunity
            </h3>

            <fieldset>
                <div class="opp-info">
                    <div><label>What's The Title of Your Opportunity*</label></div>
                    <div><input type="text" asp-for="Title" /></div><span asp-validation-for="Title" class="text-danger"></span>
                    <div><label>Please Describe Your Opportunity*</label></div>
                    <div><textarea rows="4" asp-for="Description"></textarea></div><span asp-validation-for="Description" class="text-danger"></span>
                    <div><label>Describe How You'll Verify Your Applicants' COVID-19 Antibodies*</label></div>
                    <div><textarea rows="4" asp-for="ImmunityProofRequirements"></textarea></div><span asp-validation-for="ImmunityProofRequirements" class="text-danger"></span>
                    <div><label>Opportunity Web Page URL (Optional)</label></div>
                    <div><input type="url" asp-for="OpportunityPageUri" /></div><span asp-validation-for="OpportunityPageUri" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="container-contact100-form-btn">
                <button id="apply-now-button" class="contact100-form-btn" type="submit">
                    Create Opportunity
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script defer src="@Href("https://maps.googleapis.com/maps/api/js?&key=" + Model.GoogleMapsApiKey)">
    </script>

    <script defer src="~/js/form-map.js" asp-append-version="true"></script>
}
