@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>We don't share your information with anyone and only send you emails to either manage pages or send/recieve applications to opportunities.</p>