@page
@model ImmuneAndReadyToHelp.Pages.ViewOpportunityModel
@{
    ViewData["Title"] = "Opportunity Details";
    Layout = "_Layout";
}

    <h2>@Model.Title</h2>

    <label asp-for="Description"></label> <span id="title">@Model.Description</span><br>
  
    <br/>

    <h1 style="color: red;">
        The ability to apply to opportunities is currently under construction.
    </h1>


